
<footer>
  <div class="footerbox">
    <div class="footer">
      <a href="https://github.com/Haaris-Shaik"><i class="fa-brands fa-github icons" ></i></a>
      <a href="https://www.linkedin.com/in/haaris-shaik/"><i class="fa-brands fa-linkedin icons" ></i></a>
      <a href="https://www.instagram.com/justhaaris/"><i class="fa-brands fa-square-instagram icons"></i></a>
    </div>
    <p>@Haaris-Shaik</p>
  </div>
</footer>
<script src="https://kit.fontawesome.com/429fa68772.js" crossorigin="anonymous"></script>
</body>

</html>