<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE PROGRAMMING BLOG</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/slide.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <form action="/" method="GET">
            <input type="submit" value="Home" class="button">
        </form>
        <form action="/blogs" method="POST" >
            <input type="submit" value="Blogs" class="button">
        </form>
        <form action="/potd" method="POST">
            <input type="submit" value="POTD Solutions" class="button">
        </form>
        <form action="/contact" method="POST" >
            <input type="submit" value="Contact Me" class="button">
        </form>
    </div>