<%- include("partials/header.ejs") %>

<div class="">
    <% while (locals.totSize>0) { %>
        <div class="subcontainer">
            <img src="">
        </div>
        <% totSize-- %>
    <% } %>
         
</div>

<%= include("partials/footer.ejs") %>